<style>
    section {
		padding-top: 1em;
	}


</style>
<section>
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="/">Back</a>
            </li>
        </ul>
        <br/>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <td>Order ID</td>
                            <td>Date</td>
                            <td>Customer</td>
                            <td>Email</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each orders}}
                        <tr>
                            <td><a href="/orders/{{this.id}}">#{{this.order_number}}</a></td>
                            <td title="{{this.created_at}}">{{this.created_at}}</td>
                            <td>{{this.customer.first_name}} {{this.customer.last_name}}</td>
                            <td>{{this.email}}</td>
                            <td><a href="/orders/{{this.id}}">View</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>