{% layout 'layout' %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>{{page_title}}</h2>
                <form method="post" action="/orders" id="orderFrm">
                    <input type="hidden" name="orderId" value="{{data.order.id}}"/>
                    <input type="hidden" name="shipping_lat" value="" id="shipping_lat"/>
                    <input type="hidden" name="shipping_lon" value="" id="shipping_lon"/>
                    <legend>Contact Information</legend>
                        <div class="form-group">
                            <input type="email" name="contact_email" class="form-control" id="contact_email" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <input type="tel" name="contact_number" class="form-control" id="contact_number" placeholder="Enter phone number" required>
                        </div>
                    <legend>Shipping Address</legend>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" name="shipping_firstname" class="form-control" placeholder="Firstname">
                            </div>
                            <div class="col">
                                <input type="text" name="shipping_lastname" class="form-control" placeholder="Lastname">
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="shipping_address" class="form-control" id="shipping_address" placeholder="Address"></textarea>
                        </div>
                        <div class="form-group">
                            <textarea name="shipping_address_optional" class="form-control" id="shipping_address_optional" placeholder="Apartment, suite, etc. (optional)"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="text" name="shipping_city" class="form-control" id="shipping_city" placeholder="City">
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" name="shipping_country" class="form-control" placeholder="Country">
                            </div>
                            <div class="col">
                                <input type="text" name="shipping_province" class="form-control" placeholder="Province" id="shipping_province">
                            </div>
                            <div class="col">
                                <input type="text" name="shipping_postal_code" class="form-control" placeholder="Postal code">
                            </div>
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-md-5">
                <legend>Order Details</legend>
                <table class="table">
                    <tbody>
                        {% for items in data.order.line_items %}
                        <tr>
                            <td>
                                {{ items.title }}<br/>
                                {{ items.variant_title }}
                            </td>
                            <td class="text-right">{% if items.price_set.shop_money.currency_code == 'AUD' %}${% endif %}{{ items.price }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>Subtotal</td>
                            <td class="text-right">{% if data.order.currency == 'AUD' %}${% endif %}{{data.order.subtotal_price_set.presentment_money.amount}}</td>
                        </tr>
                        <tr>
                            <td>Discount</td>
                            <td class="text-right">{% if data.order.currency == 'AUD' %}${% endif %}{{data.order.total_discounts_set.presentment_money.amount}}</td>
                        </tr>
                        <tr>
                            <td>Shipping</td>
                            <td class="text-right">{% if data.order.currency == 'AUD' %}${% endif %}{{data.order.total_shipping_price_set.presentment_money.amount}}</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td class="text-right">
                                <span>{{data.order.total_price_set.presentment_money.currency_code}}</span>
                                {% if data.order.currency == 'AUD' %}${% endif %}{{data.order.total_price_set.presentment_money.amount}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"></script>

<script src="/javascripts/intl-tel-input-16.0.0/build/js/intlTelInput-jquery.min.js"></script>
<script>
    $(document).ready(function() {
        filestactShopify.runOrderForm();
    });
</script>
{% block 'footer' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Copyright @ 2019, sixt4
            </div>
        </div>
    </div>
{% endblock %}